## Importing libraries

In [448]:
import pandas as pd
import numpy as np

## Read csv file

In [449]:
adf = pd.read_csv('air_quality.csv')
adf.head(3)

,date,parameter,location,value,unit,city,attribution,averagingperiod,coordinates,country,sourcename,sourcetype,mobile
0,"{utc=2006-11-13T06:42:00.000Z, local=2006-11-1...",pm25,JTA - Jamestown,115.56,µg/m³,Accra,"[{name=Dr. Raphael E. Arku and Colleagues, url...","{unit=hours, value=48.0}","{latitude=5.540114, longitude=-0.2103972}",GH,Dr. Raphael E. Arku and Colleagues,research,False
1,"{utc=2006-11-13T06:42:00.000Z, local=2006-11-1...",pm10,JTA - Jamestown,161.09,µg/m³,Accra,"[{name=Dr. Raphael E. Arku and Colleagues, url...","{unit=hours, value=48.0}","{latitude=5.540114, longitude=-0.2103972}",GH,Dr. Raphael E. Arku and Colleagues,research,False
2,"{utc=2006-11-13T07:13:00.000Z, local=2006-11-1...",pm25,JTC - Jamestown,104.80,µg/m³,Accra,"[{name=Dr. Raphael E. Arku and Colleagues, url...","{unit=hours, value=48.0}","{latitude=5.5349193, longitude=-0.2124056}",GH,Dr. Raphael E. Arku and Colleagues,research,False

## Maintaing needed columns

In [450]:
columns_to_keep = ['date', 'parameter', 'location', 'value', 'averagingperiod', 'coordinates']
adf = adf[columns_to_keep]
adf.head()

,date,parameter,location,value,averagingperiod,coordinates
0,"{utc=2006-11-13T06:42:00.000Z, local=2006-11-1...",pm25,JTA - Jamestown,115.56,"{unit=hours, value=48.0}","{latitude=5.540114, longitude=-0.2103972}"
1,"{utc=2006-11-13T06:42:00.000Z, local=2006-11-1...",pm10,JTA - Jamestown,161.09,"{unit=hours, value=48.0}","{latitude=5.540114, longitude=-0.2103972}"
2,"{utc=2006-11-13T07:13:00.000Z, local=2006-11-1...",pm25,JTC - Jamestown,104.80,"{unit=hours, value=48.0}","{latitude=5.5349193, longitude=-0.2124056}"
3,"{utc=2006-11-13T07:13:00.000Z, local=2006-11-1...",pm10,JTC - Jamestown,187.21,"{unit=hours, value=48.0}","{latitude=5.5349193, longitude=-0.2124056}"
4,"{utc=2006-11-13T07:31:00.000Z, local=2006-11-1...",pm25,JTT - Jamestown,86.29,"{unit=hours, value=48.0}","{latitude=5.5334554, longitude=-0.2129917}"

## Formatting columns

In [451]:
adf = adf.rename(columns={'date':'long_date', 'averagingperiod':'avgpd'})

In [452]:
adf['date'] = adf.long_date.str.slice(5, 15)
adf['time'] = adf.long_date.str.slice(16, 21)
adf['datetime'] = pd.to_datetime(adf['date'] + ' ' + adf['time'])

In [453]:
adf['coordinates'] = adf.coordinates.str.strip('{latitude=}').str.replace('longitude=','')

split_cd = adf.coordinates.str.split(', ')
adf['lat'] = split_cd.apply(lambda x: x[0])
adf['long'] = split_cd.apply(lambda x: x[1])

In [454]:
adf['avgpd'] = adf.avgpd.str.extract('(\d+\.\d+)')
adf['avgpd'] = pd.to_numeric(adf.avgpd)

In [455]:
adf.drop('long_date', axis=1, inplace=True)
adf.drop('coordinates', axis=1, inplace=True)

In [456]:
adf.head()

,parameter,location,value,avgpd,date,time,datetime,lat,long
0,pm25,JTA - Jamestown,115.56,48.0,2006-11-13,06:42,2006-11-13 06:42:00,5.540114,-0.2103972
1,pm10,JTA - Jamestown,161.09,48.0,2006-11-13,06:42,2006-11-13 06:42:00,5.540114,-0.2103972
2,pm25,JTC - Jamestown,104.80,48.0,2006-11-13,07:13,2006-11-13 07:13:00,5.5349193,-0.2124056
3,pm10,JTC - Jamestown,187.21,48.0,2006-11-13,07:13,2006-11-13 07:13:00,5.5349193,-0.2124056
4,pm25,JTT - Jamestown,86.29,48.0,2006-11-13,07:31,2006-11-13 07:31:00,5.5334554,-0.2129917

In [461]:
adf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1595 entries, 0 to 1594
Data columns (total 9 columns):
parameter    1595 non-null object
location     1595 non-null object
value        1595 non-null float64
avgpd        1595 non-null float64
date         1595 non-null object
time         1595 non-null object
datetime     1595 non-null datetime64[ns]
lat          1595 non-null object
long         1595 non-null object
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 112.2+ KB